{% extends 'base.html.twig' %}

{% block title %}Welkom op de Import pagina!{% endblock %}

{% block body %}
    <div class="containerImport flex flex-col bg-lightBlack text-wheat w-full h-full p-5 min-h-full h-max">
        <p class="w-fit h-fit text-wheat">
            D.M.V. deze import functie, kun je, je data in de database oplsaan!
        </p>

        <div class="succes flex flex-col text-wheat">
            <p class="text-wheat self-center mt-6">
                Goede nieuws! Jouw data is up to date!
            </p>
            <br>
            <img src="{{ asset('https://storage.googleapis.com/nrpassets/uploads/articles/1573377810-Michael-grimace.png') }}" alt="I feel you friend" class="self-center w-2/4 h-3/4 rounded-tl-5xxl rounded-br-5xxl m-4">
            <p class="text-wheat self-center my-4">
                Wil je de deals lijst bekijken? Klik op de knop dan om naar de Home pagina te gaan!
            </p>
            <a href="{{ path('deal') }}" class="flex self-center w-1/4 m-6">
                <div class="flex items-center items-center bg-darkGreen m-auto h-24 rounded-2xl text-2xl hover:underline">
                    <span class="text-wheat font-importBtn p-2.5 text-center hover:text-lightWheat">
                        Druk nu! (Wie weet, misschien kun je nog iets winnen!)
                    </span>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
