{% extends 'base.html.twig' %}

{% block body %}

    <!-- Start Nav Section -->
    <footer class="flex flex-col h-12 lg:h-auto fixed lg:relative overflow-hidden w-full bg-white z-50 lg:px-7">
        <p>
            This website was created by me(Amer Sbeini), by the use of <span class="element text-primaryColor"></span>
        </p>
    </footer>
    <!-- End Nav Section -->

{% endblock %}
