@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply m-0 p-0 flex;

    nav {
        .hide-scrollbar {
            @apply relative block;
            .active .categorie:hover, .active .material-icons, .active .nav-txt {
                color: #0081E9;
            }

            .active {
                &:after {
                    @apply text-inherit text-current w-full h-1 rounded-2xl relative inline-block;
                    content: var(--tw-content);
                    background-color: #0081E9;

                }
            }

            a {
                &:link, &:visited {
                    @apply block m-auto no-underline h-full;
                    color: #9F9F9F;
                }
            }
        }
    }

    section {
        .box {
            &:after {
                @apply clear-right content-none block w-full h-px
            }
        }
    }

    a {
        &:nth-child(1), &:nth-child(2) {
            .box {
                @apply w-1/2;
                .img {
                    @apply w-full;

                    img {
                        @apply relative w-full rounded-lg;
                    }

                    .red-ribbon {
                        @apply w-64 h-9 text-center top-6 -right-16 text-2xl;

                        .discount_amount {
                            @apply ml-8 mt-0;
                        }
                    }
                }
            }
        }

        &:nth-child(3n+0) {
            .box {
                @apply clear-left;
            }
        }

    }

    .newToday {
        @apply absolute h-16 w-16 text-white top-4 left-4 rounded-full pt-3 text-center font-normal font-roboto whitespace-normal text-xs;
        background-color: #0081E9;
    }

    .red-ribbon {
        background-color: #c42324;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    }

    .company, .city {
        color: #7C7C7C;
    }

    .sold {
        color: #00AEEA;
    }

    .form {
        color: #7C7C7C;
    }

    .price {
        color: #40BF4B;
    }

    .before {
        @apply text-2xl leading-6;
    }

    .after {
        @apply text-base relative;
    }

    .pagination {
        @apply flex mt-1.5 clear-both hidden;
    }

    .owl-item {
        img {
            @apply max-w-5xl inline-block #{!important};
            width: 80%;
        }
    }

    .owl-prev, .owl-next{
        span {
            @apply hidden ;
        }
    }

    .owl-prev {
        &:before {
            content: "\f060";
            background: none;
            padding: 0;
            @apply block absolute;
            top: 50%;
            left: 75px;
            transform: translate(0, -50%);
            font-family: FontAwesome;
            color: #47465A;
            font-size: 75px;
            -webkit-text-stroke: 3px white;
        }
        @screen md {
            &:before {
                left: 20px;
                font-size: 60px;
            }
        }
    }

    .owl-next {
        &:before {
            content: "\f061";
            background: none;
            padding: 0;
            @apply block absolute;
            top: 50%;
            right: 75px;
            transform: translate(0, -50%);
            font-family: FontAwesome;
            color: #47465A;
            font-size: 75px;
            -webkit-text-stroke: 3px white;
        }

        @screen md {
            &:before{
                right: 20px;
                font-size: 60px;
            }
        }
    }
}