@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../node_modules/swiper/swiper-bundle.min.css";

html {
    nav {
        .hide-scrollbar {
            .active .categorie:hover, .active .material-icons, .active .nav-txt {
                @apply text-white lg:text-primary
            }

            .active {
                &:after {
                    @apply w-full 2xl:w-10/12 h-1 lg:rounded-2xl relative inline-block bg-white lg:bg-primary -top-4 lg:top-auto;
                    content: var(--tw-content);
                }
            }

            a {
                &:link, &:visited {
                    @apply flex flex-col m-auto no-underline h-full lg:text-lightGrey;
                }
            }
        }
    }

    section {
        &:after {
            @apply clear-right content-none block w-full h-px
        }
    }

    .boxLink {
        &:nth-child(1), &:nth-child(2) {
                @apply md:w-1/2 mt-11 lg:mt-0;
            .box {
                @apply w-full;
            }
            .img {
                @apply md:w-full;

                .red-ribbon {
                    @apply md:w-40 md:h-8 md:leading-6 md:top-6 md:text-2xl;

                    .discount_amount {
                        @apply md:mt-0;
                    }
                }
            }
        }

        &:nth-child(1) {
            .box {
                @apply lg:mt-0;
            }
        }

        &:nth-child(3n) {
            .box {
                @apply md:clear-left;
            }
        }
    }

    .newToday {
        @apply absolute h-16 w-16 text-white top-4 left-4 rounded-full pt-3 text-center font-normal font-roboto whitespace-normal text-xs bg-newToday;
    }

    .sold-before, .sold-after {
        @apply text-darkBlue;
    }

    .before {
        @apply text-2xl leading-6;
    }

    .after {
        @apply text-base relative;
    }

    .pagination {
        @apply flex mt-1.5 clear-both hidden;
    }

    .swiper {
        @apply w-full h-full
    }

    .swiper-slide {
        @apply flex text-center text-lg bg-white justify-center items-center;
    }

    .swiper-slide img {
        @apply block w-full h-96 object-cover;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        position: initial;
    }

    p {
        @apply text-grey;
    }

    ul {
        @apply list-disc pl-7 lg:pl-0 lg:mt-2 lg:mb-1.5;

        li {
            @apply mb-4;

            strong {
                @apply text-black mt-5 font-normal;
            }
        }
    }

    strong {
        @apply text-black font-bold mb-5;
    }

    em {
        @apply text-grey not-italic
    }


    @media only screen and (max-width: 1024px) {
        nav {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.239);
        }
    }

    .description ul {
            @apply pl-7;
    }
}